:any-link {
  text-decoration: none;
  color: #000000;
  
}
a:hover{
  color: #000000 ;
}
.LogoCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.circle {
  border-radius: 50%;
  background-color: beige;
}
.topNav{
  background-color: black;
}
.bottomNav{
  background-color: #44E0D4;
}
.space{
  margin-left: auto;
  margin-right: auto;
}
.unButton{
    background: none;
    border: none;
    padding: 0;
}
.topmargin{
  margin: 10rem;
}
.bg-1{
  background-color: #305265;
}
.bg-black{
  background-color: #131112;
}
.pics {
  padding: 20px;
  margin-top: 20px;
  max-width: 310px;
  border-radius: 100px;
  margin-bottom: 60px;
}
.box {
  margin-top: 110px;
  background-color: azure;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 100px;
}
.title {
  border-radius: 10px;
  background-color: #44E0D4;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
p {
  padding-bottom: 20px;
}
.miniMargin {
  margin-top:1em;
}