:any-link {
  text-decoration: none;
  color: #000000;
}
html {
  background-color: #305265;
  z-index: -2;
}
a:hover{
  color: #000000 ;
}
.LogoCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.circle {
  width: 60px; 
  height: 60px;
  text-align: center;
  border-radius: 50%;
  background-color: beige;
  margin-right: 40px;
}

/* Navs */

.header{
  background-color: black;
}
.topNav{
  background-color: #44E0D4;
  margin-bottom: 50px;
  height: 30px;
}
.bottomNav{
  background-color: #44E0D4;
  height: 30px;
}
.space{
  margin-left: auto;
  margin-right: auto;
}
.spacev{
  margin-top:  20px;
  margin-bottom: 20px;
}
.right{
  text-align: right;
}
.center {
  text-align: center;
}
.round {
  border-radius: 10px;
}
.unButton{
    background: none;
    border: none;
    padding: 0;
}
.topmargin{
  margin: 10rem;
}
.bg-W {
  background-color: white;
}
.bg-1{
  background-color: #305265;
}
.bg-black{
  background-color: #be196c;
}
.pics {
  padding: 20px;
  margin-top: 20px;
  max-width: 310px;
  border-radius: 100px;
  margin-bottom: 60px;
}
.box {
  background-color: azure;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 100px;
}
.title {
  border-radius: 10px;
  background-color: #44E0D4;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
p {
  padding-bottom: 20px;
}
.miniMargin {
  margin-left: auto;
  margin-right: auto;
  margin-top:1em;
  margin-bottom: 1em;
  padding: 10px;
}
.chatInput {
display: inline-block;
}
.messageBox {
  margin-top: 500px;
  border-radius: 10px;
  background-color: azure;
  flex-direction: column-reverse;
  display: flex;
  overflow: scroll;
  height: 600px;
  text-align: right;
}
.messageForm {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  margin-bottom:60px;
  width: 50%;
}
::-webkit-scrollbar {
  display: none;
}
.carouselStack {
  margin-top: -50px
}
.carouselBorder {
  background-color: black;
}
.particle-background{
  z-index: 0;
}
.appAlign{
  margin-top: -1290px;
}
.top {
  z-index: 1;
}
.avatar {
  border-radius: 50%;
  width: 100%;
}